<h1>Watch-List</h1>
<% @lists.each do |list| %>
<div class = "btn btn-light" >
<%= link_to list.name, list_path(list)  %></div>
<% end %>
<div class = "btn btn-success" p-3><%= link_to "Create a list", new_list_path%></div>
